{% load i18n branding %}
<!DOCTYPE html>
<html lang="en" xml:lang="en" class="login-rcue">
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{% trans "Login" %} - {% site_branding %}</title>
    {% include "_stylesheets.html" %}

    {% include "horizon/_conf.html" %}
    {% include "horizon/client_side/_script_loader.html" %}
    {% include "horizon/_custom_head_js.html" %}

  </head>
  <body id="splash" ng-app='horizon.app' class="login-rcue">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div id="brand">
            <img src="../../static/themes/rcue/images/logo.png">
          </div><!--/#brand-->
        </div><!--/.span*-->
        {% include 'auth/_login.html' %}
      </div><!--/.row-fluid-->
    </div><!--/.container-->

    <!-- <div class="container" id="terms">
      <a href="{{STATIC_URL}}dashboard/documents/documento.pdf" target="_blank">Términos y condiciones</a>  
      <a href="{{STATIC_URL}}dashboard/documents/documento.pdf" target="_blank">Política de privacidad</a>
    </div> -->

    

    {% block js %}
      {% include "horizon/_scripts.html" %}
    {% endblock %}

  </body>
</html>
